body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#network-map {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 500px;
}

.device {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.router {
    background-color: #f8c471;
}

.firewall {
    background-color: #e74c3c;
}

.switch {
    background-color: #5dade2;
}

.host {
    background-color: #58d68d;
}

.data-flow {
    width: 2px;
    background-color: #000;
    position: absolute;
    z-index: 0;
}

#flow1 {
    height: 200px;
    top: 100px;
    left: 10%;
}

#flow2 {
    height: 150px;
    top: 150px;
    left: 30%;
}

#flow3 {
    height: 100px;
    top: 200px;
    left: 50%;
}

#flow4 {
    height: 50px;
    top: 250px;
    left: 70%;
}

#info-panel {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}